In [2]:
import pandas as pd
import re
import spacy
import os
import string
from spacy.tokenizer import Tokenizer
from spacy.tokens import Doc
from spacy.util import minibatch, compounding
import nltk
from tqdm import tqdm

In [2]:
files = os.listdir('data/articles/')
files = [file for file in files if file != ".DS_Store"]

In [3]:
text_dat = []
for file in files:
    fname = 'data/articles/' + file
    f = open(fname, encoding='utf8', errors='replace')
    article = f.read()
    # removing nonsense chars
    printable = set(string.printable)
    article = ''.join(filter(lambda x: x in printable, article))
    text_dat.append(article)

f.close()

## Spacification

In [4]:
nlp = spacy.load("en_core_web_sm", disable=["tagger", "parser"])
nlp.add_pipe(nlp.create_pipe('sentencizer'))
article1 = nlp(text_dat[1])

In [5]:
for ent in article1.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label_)

AFP 1 4 ORG
Jewel SamadChinese 10 28 PERSON
Alibaba 49 56 ORG
Jack Ma 65 72 PERSON
the New York Stock Exchange 128 155 ORG
New York 159 167 GPE
September 19 168 180 DATE
2014New York 182 194 GPE
AFP 196 199 ORG
2014 218 222 DATE
2000 280 284 DATE
Chinese 328 335 NORP
Alibaba 351 358 PRODUCT
Renaissance Capital 494 513 ORG
this week 531 540 DATE
Russia 580 586 GPE
Ukraine 608 615 GPE
the Middle East 633 648 LOC
US 723 725 GPE
Renaissance 742 753 ORG
Renaissance 760 771 ORG
273 788 791 CARDINAL
2014 808 812 DATE
23 percent 817 827 PERCENT
2013 833 837 DATE
291 883 886 CARDINAL
27 percent 901 911 PERCENT
2013 917 921 DATE
another heady year 951 969 DATE
2015 973 977 DATE
Airbnb 1117 1123 GPE
Uber 1151 1155 PERSON
US 1173 1175 GPE
$85 billion 1198 1209 MONEY
2014 1213 1217 DATE
Renaissance 1232 1243 ORG
about 55 percent 1245 1261 PERCENT
2013 1275 1279 DATE
Bob Greifeld 1408 1420 PERSON
Nasdaq 1422 1428 ORG
CNBC 1454 1458 ORG
The year 2000 1501 1514 DATE
406 1557 1560 CARDINAL
$96 billion 1579 1590 MONEY
Renaissance 1592 1603 ORG
Renaissance CapitalParadoxically 1611 1643 ORG
US 1655 1657 GPE
China 1662 1667 GPE
Chinese 1729 1736 NORP
Alibaba 1758 1765 PERSON
New York's 1797 1807 GPE
Alibaba 1821 1828 ORG
September 1832 1841 DATE
$22 billion 1885 1896 MONEY
Alibaba 1906 1913 ORG
nine 1915 1919 CARDINAL
more than $1 billion 1943 1963 MONEY
2014 1967 1971 DATE
Citizens Financial 1987 2005 ORG
British 2017 2024 NORP
Royal Bank 2030 2040 ORG
Scotland 2044 2052 GPE
$3.0 billion 2059 2071 MONEY
Synchrony Financial 2084 2103 ORG
General Electric 2127 2143 ORG
$2.9 billion 2150 2162 MONEY
year 2184 2188 DATE
25 percent 2252 2262 PERCENT
69 2287 2289 CARDINAL
Renaissance 2301 2312 ORG
eight 2356 2361 CARDINAL
10 2373 2375 CARDINAL
five 2469 2473 CARDINAL
10 2481 2483 CARDINAL
16 percent 2552 2562 PERCENT
the end of the year 2573 2592 DATE
40.8 percent 2646 2658 PERCENT
2013 2667 2671 DATE
Renaissance 2673 2684 ORG
the year 2741 2749 DATE
March 2828 2833 DATE
April 2838 2843 DATE
the year-over-year 2849 2867 DATE
2014 2915 2919 DATE
the prior year 2934 2948 DATE
40 percent 2953 2963 PERCENT
another strong year 3045 3064 DATE
2015 3068 3072 DATE
Renaissance 3169 3180 ORG
255 3218 3221 CARDINAL
More than 80 percent 3254 3274 PERCENT
GoDaddy 3342 3349 PERSON
2015 3508 3512 DATE
Renaissance 3548 3559 ORG
2015 3581 3585 DATE
Fed 3614 3617 ORG
US 3721 3723 GPE
this year 3757 3766 DATE
Monday 3846 3852 DATE
Thursday 3861 3869 DATE
New York City 3892 3905 GPE
Michael Citarella 3922 3939 PERSON
the Monarch Burger 3974 3992 ORG
8 ounces 3999 4007 QUANTITY
20% 4077 4080 PERCENT
Monarch 4193 4200 ORG
Michael 4229 4236 PERSON
Sam Rega 4335 4343 PERSON
Justin Gmoser 4366 4379 PERSON
Michael Seto 4409 4421 PERSON
Cuban 4443 4448 NORP
Mark Cuban 4668 4678 PERSON
Peter Thiel 4683 4694 PERSON
Bianca Male 4754 4765 PERSON
Aimee Groth 4767 4778 GPE
Alison Griswold 4784 4799 PERSON
Thomson ReutersShoppers 4846 4869 ORG
The Plaza, King of Prussia Mall 4908 4939 FAC
United State's 4941 4955 GPE
Nandita Bose 5008 5020 PERSON
Samantha Sunne CHICAGO 5025 5047 PERSON
Reuters 5058 5065 ORG
the last weekend before Christmas 5119 5152 DATE
a holiday season 5228 5244 DATE
New York 5330 5338 GPE
Philadelphia 5340 5352 GPE
Chicago 5354 5361 GPE
Los Angeles 5366 5377 GPE
midday 5381 5387 TIME
Saturday 5391 5399 DATE
this year 5495 5504 DATE
Alexis Layne 5593 5605 PERSON
Chicago 5674 5681 GPE
the weekend before Christmas 5739 5767 DATE
two 5805 5808 CARDINAL
Ramesh Swamy 5886 5898 ORG
Deloitte 5920 5928 ORG
One 5990 5993 CARDINAL
Los Angeles 6025 6036 GPE
this year 6195 6204 DATE
day 6324 6327 DATE
this weekend 6365 6377 DATE
Black Friday 6454 6466 WORK_OF_ART
the day after 6469 6482 DATE
Thanksgiving 6483 6495 DATE
the busiest shopping day of the year 6520 6556 DATE
ShopperTrak 6558 6569 ORG
today 6630 6635 DATE
Super Saturday 6646 6660 WORK_OF_ART
Black Friday 6723 6735 EVENT
day of 2014 6766 6777 DATE
the National Retail Federation 6792 6822 ORG
3.2 percent 6856 6867 PERCENT
November 6871 6879 DATE
4.1 percent 6921 6932 PERCENT
November and December 6940 6961 DATE
December 7046 7054 DATE
Georgia 7107 7114 GPE
South Carolina 7119 7133 GPE
the Pacific Northwest 7147 7168 LOC
East 7246 7250 LOC
winter 7288 7294 DATE
Evan Gold 7307 7316 PERSON
Planalytics 7345 7356 ORG
a strong day 7447 7459 DATE
JC Penney's 7471 7482 ORG
Manhattan 7501 7510 GPE
midday 7538 7544 TIME
Annette Rozzo 7566 7579 ORG
one 7584 7587 CARDINAL
three 7591 7596 CARDINAL
7 a.m. 7639 7645 TIME
60 percent 7664 7674 PERCENT
six 7703 7706 CARDINAL
Disney 7774 7780 WORK_OF_ART
Frozen 7788 7794 WORK_OF_ART
last year 7896 7905 DATE
Halloween 8034 8043 DATE
Emma Clement 8135 8147 PERSON
37 8149 8151 DATE
the final weekend 8258 8275 DATE
today 8345 8350 DATE
up to 70 percent 8411 8427 PERCENT
Macy 8454 8458 ORG
Chicago 8468 8475 GPE
over 50 percent 8513 8528 PERCENT
Samantha Sunne 8550 8564 PERSON
New York 8568 8576 GPE
Nandita Bose 8578 8590 PERSON
Nathan Layne 8595 8607 PERSON
Chicago 8611 8618 GPE
Gunna Dickson 8631 8644 PERSON
three 8730 8735 CARDINAL
a few days 8785 8795 DATE
Town &amp 8814 8823 ORG
Country Magazine 8825 8841 ORG
Matthew Stuart 8855 8869 ORG
Follow BI Video 8871 8886 ORG
JP Morgan FundsThe 8900 8918 PRODUCT
Today 8971 8976 DATE
one 9333 9336 CARDINAL
JPMorgan Asset Management 9654 9679 ORG
2014 9737 9741 DATE
Guide to Retirement 9743 9762 WORK_OF_ART
three 9791 9796 CARDINAL
annual 9828 9834 DATE
Chris 9902 9907 PERSON
Susan 10021 10026 PERSON
Bill 10030 10034 PERSON
Susan 10051 10056 PERSON
just 10 years 10072 10085 DATE
Bill 10108 10112 PERSON
30 years 10128 10136 DATE
Susan 10234 10239 PERSON
her 10 years 10250 10262 DATE
Bill 10339 10343 PERSON
an additional 20 years 10381 10403 DATE
Susan 10419 10424 PERSON
Chris 10436 10441 PERSON
Chris 10476 10481 PERSON
Bill 10519 10523 PERSON
Susan 10528 10533 PERSON
JP Morgan Asset Management 10718 10744 ORG
Alibaba founder 10823 10838 PERSON
Ma 10856 10858 PERSON
China 10888 10893 GPE
this year 10944 10953 DATE
$18.5 billion 10974 10987 MONEY
between December 2013 and December 2014 10988 11027 DATE
173% 11040 11044 PERCENT
an estimated $29.2 billion 11070 11096 MONEY
7.8% 11117 11121 PERCENT
Alibaba 11131 11138 ORG
nearly 50% 11145 11155 PERCENT
Ma 11200 11202 PERSON
China 11266 11271 GPE
dozens 11335 11341 CARDINAL
one 11361 11364 CARDINAL
KFC 11368 11371 ORG
third 11405 11410 ORDINAL
Alibaba 11429 11436 PERSON
Azad Lashkari/ReutersIraqi 11455 11481 PERSON
Kurdish 11482 11489 NORP
Natural Resources Ashti Hawrami 11503 11534 ORG
Arbil 11570 11575 ORG
about 350 km 11577 11589 QUANTITY
217 miles 11591 11600 QUANTITY
Baghdad 11611 11618 GPE
February 7, 2013 11619 11635 DATE
UK 11693 11695 GPE
Ashti Hawrami 11699 11712 PERSON
the Kurdistan Regional Government 11751 11784 ORG
KRG 11786 11789 ORG
one 11821 11824 CARDINAL
Kurdistan 11891 11900 GPE
Iraq 11943 11947 GPE
Chevron 11994 12001 ORG
Tony Haywards Genel Energy 12006 12032 ORG
Iraq 12292 12296 GPE
Hawrami 12301 12308 PERSON
The Sunday Telegraph 12314 12334 ORG
Iraq 12336 12340 GPE
Iran 12390 12394 GPE
Venezuela 12399 12408 GPE
the North Sea 12451 12464 LOC
Hawrami 12707 12714 PERSON
UK 12723 12725 GPE
Matthew Hancock 12742 12757 PERSON
last week 12766 12775 DATE
Britain 12785 12792 GPE
Kurdistans 12814 12824 NORP
UK 12884 12886 GPE
the North Sea 12926 12939 LOC
the 1970s 12943 12952 DATE
2013 12995 12999 DATE
Ian Hannam 13102 13112 PERSON
Hawrami 13138 13145 QUANTITY
Mr Hannam 13183 13192 PERSON
Mr Hawrami 13215 13225 PERSON
Financial Services Authority 13257 13285 ORG
a decade 13319 13327 DATE
Kurdistan 13329 13338 GPE
45bn barrels 13433 13445 TIME
1m barrels 13481 13491 QUANTITY
a few years 13518 13529 DATE
Essam Al-Sudani 13531 13546 PERSON
Nahr Bin Umar 13576 13589 PERSON
Basra 13606 13611 GPE
Baghdad 13626 13633 GPE
November 16, 2014 13635 13652 DATE
Kurdistans 13677 13687 PERSON
Mr Hawrami 13731 13741 PERSON
Baghdad 13776 13783 GPE
Hawrami 13853 13860 PERSON
Iraqs 13875 13880 ORG
KRG 13906 13909 ORG
Baghdad 14120 14127 GPE
Mr Hawrami 14229 14239 PERSON
KRG 14251 14254 ORG
Baghdad 14289 14296 GPE
KRG 14413 14416 ORG
billions of dollars 14427 14446 MONEY
earlier this month 14567 14585 DATE
KRG 14599 14602 ORG
250,000 14608 14615 CARDINAL
Baghdad 14623 14630 GPE
300,000 14661 14668 CARDINAL
KRG 14750 14753 ORG
Ceyhan 14844 14850 GPE
Turkey 14854 14860 GPE
Mr Hawrami 14875 14885 PERSON
Kurdistan 14913 14922 GPE
1m bpd 14932 14938 QUANTITY
2016 14956 14960 DATE
Iraqs 14971 14976 ORG
second 15006 15012 ORDINAL
the Organisation of the Petroleum Exporting Countries 15024 15077 ORG
Opec 15079 15083 ORG
Saudi Arabia 15093 15105 GPE
Iraq 15121 15125 GPE
Islamic State 15218 15231 ORG
October 15246 15253 DATE
Iraq 15354 15358 GPE
two 15374 15377 CARDINAL
Mr Hawrami 15424 15434 PERSON
1m 15475 15477 QUANTITY
2015 15569 15573 DATE
2019 15753 15757 DATE
1m barrels 15823 15833 QUANTITY
Kurdistan 15879 15888 GPE
Erbil 16019 16024 ORG
7bn 16048 16051 MONEY
Baghdad 16149 16156 GPE
20bn 16336 16340 MONEY
Mr Hawrami 16674 16684 PERSON
Kurdistan 16773 16782 GPE
the Islamic State of Iraq 16881 16906 ORG
the Levant (Isil 16911 16927 ORG
Islamic 16943 16950 NORP
Mr Hawrami 17000 17010 PERSON
around $60 17067 17077 MONEY
Mr Hawrami 17706 17716 PERSON
Saudi Arabia 17754 17766 GPE
Iran 17790 17794 GPE
Opec 17801 17805 ORG
about a third 17831 17844 CARDINAL
Iraq 17867 17871 GPE
Iraq 17939 17943 GPE
the last 20 years 18008 18025 DATE
Iraq 18044 18048 GPE
Mr Hawrami 18327 18337 PERSON
Kurdistans 18697 18707 NORP
Turkey 18726 18732 GPE
five years ago 18734 18748 DATE
Kurdistan 18959 18968 GPE
Turkey 18976 18982 GPE
10bn 18990 18994 MONEY
this five years ago 19131 19150 DATE
Earlier this year 19248 19265 DATE
Erbil 19282 19287 ORG
Isil 19324 19328 ORG
Mosul 19345 19350 GPE
one 19358 19361 CARDINAL
Kurdistan 19411 19420 GPE
Kurdish 19454 19461 NORP

Peshmerga 19480 19489 GPE
British 19504 19511 NORP
US 19516 19518 GPE
UK 19569 19571 GPE
Mr Hawrami 19676 19686 PERSON
Iraq 19896 19900 GPE
Hawrami 20074 20081 PERSON
Isil 20133 20137 ORG
UK 20155 20157 GPE
Europe 20162 20168 LOC
Britain 20266 20273 GPE
Saudi Arabia's 20423 20437 GPE
US 20539 20541 GPE
the International Monetary Fund 20637 20668 ORG
25 20690 20692 MONEY
Fund 20703 20707 ORG
100-$105reference 20711 20728 MONEY
Saudi 20764 20769 NORP
2018 20818 20822 DATE
Saudis 20832 20838 NORP
2018 20854 20858 DATE
2000 21138 21142 DATE
December 15 years ago 21147 21168 DATE
a few weeks 21190 21201 DATE
this festive season 21271 21290 DATE
San Francisco 21361 21374 GPE
eight 21396 21401 CARDINAL
2013 21467 21471 DATE
fifth 21481 21486 ORDINAL
America 21505 21512 GPE
Janet Yellen 21629 21641 PERSON
the Federal Reserve 21655 21674 ORG
Alan Greenspan 21781 21795 PERSON
1999 21825 21829 DATE
Alibaba 21894 21901 GPE
Chinese 21905 21912 NORP
New York 21943 21951 GPE
September 21955 21964 DATE
Byzantine 21973 21982 NORP
58% 22014 22017 PERCENT
Uber 22051 22055 ORG
NASDAQ 22194 22200 ORG
23 22248 22250 CARDINAL
over 100 22282 22290 CARDINAL
2000 22300 22304 DATE
Barron's 22316 22324 ORG
51 22385 22387 CARDINAL
a year 22441 22447 DATE
December 6th 22452 22464 DATE
Barron's 22465 22473 ORG
only five 22506 22515 CARDINAL
today 22565 22570 DATE
two 22623 22626 CARDINAL
Amazon 22664 22670 ORG
Google 22675 22681 PRODUCT
VC 22836 22838 ORG
GlassdoorGoogle 22899 22914 ORG
first 22979 22984 ORDINAL
Facebook 23007 23015 ORG
October 23031 23038 DATE
2015 23078 23082 DATE
55-75% 23086 23092 PERCENT
Silicon Valley's 23183 23199 LOC
Apple 23272 23277 ORG
Amazon 23279 23285 ORG
Google 23297 23303 ORG
Twitter 23308 23315 ORG
$66 billion 23325 23336 MONEY
the past 12 months 23340 23358 DATE
eight 23517 23522 CARDINAL
2009 23551 23555 DATE
VC 23597 23599 ORG
Apple 23625 23630 ORG
five 23708 23712 CARDINAL
Leviathans 23800 23810 NORP
Gazprom 23814 23821 PERSON
PetroChina 23823 23833 ORG
Exxon 23838 23843 ORG
about $40 billion-50 billion 23863 23891 MONEY
five 23904 23908 CARDINAL
$60 billion 23928 23939 MONEY
as much as 23974 23984 PERCENT
General Electric 23985 24001 ORG
just over 300,000 24015 24032 CARDINAL
Google 24042 24048 ORG
Amazon 24227 24233 ORG
Twitch 24280 24286 ORG
Google 24312 24318 ORG
Facebook 24385 24393 ORG
Oculus VR 24407 24416 PRODUCT
Mark Zuckerberg 24455 24470 PERSON
Facebook 24472 24480 ORG
a bunch of years 24562 24578 DATE
Apple 24687 24692 ORG
Google 24766 24772 ORG
about 20% 24807 24816 PERCENT
Amazon 24859 24865 ORG
tens of billions of dollars 24988 25015 MONEY
Nokia 25067 25072 GPE
Yahoo 25074 25079 ORG
Microsoft 25084 25093 ORG
Google 25282 25288 ORG
Facebook 25290 25298 ORG
Amazon 25303 25309 ORG
five 25315 25319 CARDINAL
today 25323 25328 DATE
second 25488 25494 ORDINAL
December 4th 25580 25592 DATE
Uber 25598 25602 PERSON
$1.2 billion 25612 25624 MONEY
five-year old 25663 25676 DATE
$40 billion 25685 25696 MONEY
Baidu 25698 25703 ORG
China 25705 25710 GPE
48 25774 25776 CARDINAL
American 25777 25785 NORP
$1 billion 25808 25818 MONEY
ten 25842 25845 CARDINAL
VentureSource 25895 25908 ORG
October 25932 25939 DATE
Slack 25963 25968 PRODUCT
$1.1 billion 25983 25995 MONEY
a year 25997 26003 DATE
2014 26025 26029 CARDINAL
the biggest year 26046 26062 DATE
VC 26067 26069 ORG
2000 26088 26092 DATE
TENGKU BAHAR/ 26094 26107 PERSON
AFP/Getty ImagesPart 26107 26127 ORG
VC 26435 26437 ORG
2000 26455 26459 DATE
Uber 26505 26509 ORG
about 20% 26543 26552 PERCENT
$10 billion 26588 26599 MONEY
late 2015 26603 26612 DATE
Marc Andreessen 26730 26745 PERSON
Lending Club 27034 27046 ORG
New Relic and Hortonworks 27085 27110 ORG
two 27112 27115 CARDINAL
several years 27272 27285 DATE
1999-2000 27545 27554 DATE
Silicon Valley 27864 27878 LOC
2000 28167 28171 DATE
December 15 years ago 28176 28197 DATE
a few weeks 28219 28230 DATE
this festive season 28300 28319 DATE
San Francisco 28390 28403 GPE
eight 28425 28430 CARDINAL
2013 28496 28500 DATE
fifth 28510 28515 ORDINAL
America 28534 28541 GPE
Janet Yellen 28658 28670 PERSON
the Federal Reserve 28684 28703 ORG
Alan Greenspan 28810 28824 PERSON
1999 28854 28858 DATE
Alibaba 28923 28930 GPE
Chinese 28934 28941 NORP
New York 28972 28980 GPE
September 28984 28993 DATE
Byzantine 29002 29011 NORP
58% 29043 29046 PERCENT
Uber 29080 29084 ORG
NASDAQ 29223 29229 ORG
23 29277 29279 CARDINAL
over 100 29311 29319 CARDINAL
2000 29329 29333 DATE
Barron's 29345 29353 ORG
51 29414 29416 CARDINAL
a year 29470 29476 DATE
December 6th 29481 29493 DATE
Barron's 29494 29502 ORG
only five 29535 29544 CARDINAL
today 29594 29599 DATE
two 29652 29655 CARDINAL
Amazon 29693 29699 ORG
Google 29704 29710 PRODUCT
VC 29865 29867 ORG
GlassdoorGoogle 29928 29943 ORG
first 30008 30013 ORDINAL
Facebook 30036 30044 ORG
October 30060 30067 DATE
2015 30107 30111 DATE
55-75% 30115 30121 PERCENT
Silicon Valley's 30212 30228 LOC
Apple 30301 30306 ORG
Amazon 30308 30314 ORG
Google 30326 30332 ORG
Twitter 30337 30344 ORG
$66 billion 30354 30365 MONEY
the past 12 months 30369 30387 DATE
eight 30546 30551 CARDINAL
2009 30580 30584 DATE
VC 30626 30628 ORG
Apple 30654 30659 ORG
five 30737 30741 CARDINAL
Leviathans 30829 30839 NORP
Gazprom 30843 30850 PERSON
PetroChina 30852 30862 ORG
Exxon 30867 30872 ORG
about $40 billion-50 billion 30892 30920 MONEY
five 30933 30937 CARDINAL
$60 billion 30957 30968 MONEY
as much as 31003 31013 PERCENT
General Electric 31014 31030 ORG
just over 300,000 31044 31061 CARDINAL
Google 31071 31077 ORG
Amazon 31256 31262 ORG
Twitch 31309 31315 ORG
Google 31341 31347 ORG
Facebook 31414 31422 ORG
Oculus VR 31436 31445 PRODUCT
Mark Zuckerberg 31484 31499 PERSON
Facebook 31501 31509 ORG
a bunch of years 31591 31607 DATE
Apple 31716 31721 ORG
Google 31795 31801 ORG
about 20% 31836 31845 PERCENT
Amazon 31888 31894 ORG
tens of billions of dollars 32017 32044 MONEY
Nokia 32096 32101 GPE
Yahoo 32103 32108 ORG
Microsoft 32113 32122 ORG
Google 32311 32317 ORG
Facebook 32319 32327 ORG
Amazon 32332 32338 ORG
five 32344 32348 CARDINAL
today 32352 32357 DATE
second 32517 32523 ORDINAL
December 4th 32609 32621 DATE
Uber 32627 32631 PERSON
$1.2 billion 32641 32653 MONEY
five-year old 32692 32705 DATE
$40 billion 32714 32725 MONEY
Baidu 32727 32732 ORG
China 32734 32739 GPE
48 32803 32805 CARDINAL
American 32806 32814 NORP
$1 billion 32837 32847 MONEY
ten 32871 32874 CARDINAL
VentureSource 32924 32937 ORG
October 32961 32968 DATE
Slack 32992 32997 PRODUCT
$1.1 billion 33012 33024 MONEY
a year 33026 33032 DATE
2014 33054 33058 CARDINAL
the biggest year 33075 33091 DATE
VC 33096 33098 ORG
2000 33117 33121 DATE
TENGKU BAHAR/ 33123 33136 PERSON
AFP/Getty ImagesPart 33136 33156 ORG
VC 33464 33466 ORG
2000 33484 33488 DATE
Uber 33534 33538 ORG
about 20% 33572 33581 PERCENT
$10 billion 33617 33628 MONEY
late 2015 33632 33641 DATE
Marc Andreessen 33759 33774 PERSON
Lending Club 34063 34075 ORG
New Relic and Hortonworks 34114 34139 ORG
two 34141 34144 CARDINAL
several years 34301 34314 DATE
1999-2000 34574 34583 DATE
Silicon Valley 34893 34907 LOC
Jose Sanchez/APApple 35090 35110 PERSON
Tim Cook 35115 35123 PERSON
Oscar 35190 35195 PERSON
a year 35251 35257 DATE
Let It Go 35360 35369 WORK_OF_ART
year 35397 35401 DATE
Monopoly 35609 35617 ORG
Alex Kuzoian 35709 35721 PERSON
Sara Silverstein 35735 35751 PERSON
Walter Hickey 35771 35784 PERSON
Thomson ReutersThe 35815 35833 PERSON
Dish Network 35885 35897 ORG
Denver 35913 35919 GPE
Reuters 35951 35958 ORG
DISH Network Corp 35984 36001 ORG
Comcast Corp's 36007 36021 ORG
SportsNet 36023 36032 ORG
DISH 36144 36148 PERSON
Saturday 36157 36165 DATE
two 36171 36174 CARDINAL
DISH 36231 36235 PERSON
Comcast 36247 36254 ORG
Chicago 36354 36361 GPE
San Francisco 36363 36376 GPE
Washington 36381 36391 GPE
multi-year 36419 36429 DATE
SportsNet Bay Area 36464 36482 LOC
California 36484 36494 GPE
Chicago 36496 36503 GPE
Mid-Atlantic 36508 36520 LOC
Comcast 36649 36656 ORG
NBCUniversal 36663 36675 PRODUCT
DISH 36722 36726 PERSON
NBC 36812 36815 ORG
roughly 14 million 36844 36862 CARDINAL
Comcast 36904 36911 ORG
NBCUniversal 36976 36988 PRODUCT
Susan Heavey 37040 37052 PERSON
Lisa Richwine 37078 37091 PERSON
Stephen Powell 37104 37118 PERSON
Bloomberg TVWendy's 37137 37156 PERSON
Emil Brolick 37161 37173 PERSON
Barbara Corcoran 37193 37209 PERSON
several seasons 37259 37274 DATE
Barbara 37338 37345 PERSON
one 37405 37408 CARDINAL
Sam Rega 37465 37473 PERSON
Bruce Rauner 37503 37515 PERSON
Republican 37519 37529 NORP
Illinois 37631 37639 GPE
the last years 37737 37751 DATE
August 2013 37885 37896 DATE
two or three 37904 37916 CARDINAL
as much as half 37943 37958 CARDINAL
Rauner 38091 38097 PERSON
last month 38110 38120 DATE
Democrats 38283 38292 NORP
Illinois 38544 38552 GPE
Greece 38561 38567 GPE
one 38571 38574 CARDINAL
Hal Weitzman 38694 38706 PERSON
the University of Chicago Booth School of Business 38710 38760 ORG
Midwestern 38773 38783 NORP
13m 38812 38815 MONEY
Greece 38817 38823 GPE
11 38828 38830 CARDINAL
Illinois 38863 38871 GPE
one 39076 39079 CARDINAL
Chicago 39094 39101 GPE
the Civic Federation 39137 39157 ORG
Illinois 39178 39186 GPE
$111 billion 39211 39223 MONEY
$56 billion 39284 39295 MONEY
one 39358 39361 CARDINAL
four 39365 39369 CARDINAL
Jim Young 39467 39476 PERSON
Bruce Rauner 39495 39507 PERSON
Chicago 39565 39572 GPE
Illinois 39574 39582 GPE
November 4, 2014 39584 39600 DATE
Illinois 39654 39662 GPE
2014 39842 39846 DATE
two 39848 39851 CARDINAL
Fitch 39876 39881 NORP
Moody's 39886 39893 ORG
Moody's 39933 39940 ORG
Illinois 39950 39958 GPE
Botswana 39973 39981 PERSON
the Chicago Tribune 40009 40028 ORG
Botswana 40040 40048 PERSON
decades 40121 40128 DATE
Laurence Msall 40204 40218 PERSON
the Civic Federation 40228 40248 ORG
Unique to Illinois is the idea that you don't have to pay for pensions and you don't have to follow actuarial recommendations 40251 40376 WORK_OF_ART
the Governmental Accounting Standards Board 40429 40472 ORG
GASB 40474 40478 ORG
Illinois 40539 40547 GPE
2013 40576 40580 DATE
$2.8 billion 40596 40608 MONEY
five 40656 40660 CARDINAL
GASB 40680 40684 ORG
$3.6 billion 40729 40741 MONEY
Joshua Rauh 40748 40759 PERSON
Stanford University 40787 40806 ORG
Illinois 40845 40853 GPE
$250 billion 40891 40903 MONEY
annual 41026 41032 DATE
7.75% 41062 41067 PERCENT
30 years 41073 41081 DATE
25% 41122 41125 PERCENT
Pat Quinn 41229 41238 PERSON
December 2013 41302 41315 DATE
annual 41361 41367 DATE
Illinois 41484 41492 GPE
first 41495 41500 ORDINAL
five 41563 41567 CARDINAL
30 years 41590 41598 DATE
M. Spencer Green/ 41695 41712 PERSON
Illinois 41723 41731 GPE
Pat Quinn 41741 41750 PERSON
Quinn 41755 41760 ORG
June 41802 41806 DATE
John Belz 41878 41887 PERSON
Sangamon County 41895 41910 GPE
New York 42031 42039 GPE
Arizona 42044 42051 GPE
Lisa Madigan 42101 42113 PERSON
the Illinois Supreme Court 42178 42204 ORG
James Spiotto 42236 42249 PERSON
Chapman Strategic Advisors 42263 42289 ORG
The Supreme Court 42445 42462 ORG
Illinois 42592 42600 GPE
Mr Spiotto 42706 42716 PERSON
Dan Montgomery 42769 42783 PERSON
the Illinois Federation of Teachers 42802 42837 ORG
Mr Quinn's 42848 42858 PERSON
Rauner 43073 43079 PERSON
Illinois 43233 43241 GPE
more than $7 billion 43269 43289 MONEY
annual 43293 43299 DATE
Washington 43406 43416 GPE
Congress 43451 43459 ORG
Illinois 43554 43562 GPE
2015 43614 43618 DATE
Illinois 43619 43627 GPE
Greek 43660 43665 NORP
Rauner 43732 43738 PERSON
24 months ahead 43761 43776 DATE
Bruce Rauner 43915 43927 PERSON
Republican 43931 43941 NORP
Illinois 44043 44051 GPE
the last years 44149 44163 DATE
August 2013 44297 44308 DATE
two or three 44316 44328 CARDINAL
as much as half 44355 44370 CARDINAL
Rauner 44503 44509 PERSON
last month 44522 44532 DATE
Democrats 44695 44704 NORP
Illinois 44956 44964 GPE
Greece 44973 44979 GPE
one 44983 44986 CARDINAL
Hal Weitzman 45106 45118 PERSON
the University of Chicago Booth School of Business 45122 45172 ORG
Midwestern 45185 45195 NORP
13m 45224 45227 MONEY
Greece 45229 45235 GPE
11 45240 45242 CARDINAL
Illinois 45275 45283 GPE
one 45488 45491 CARDINAL
Chicago 45506 45513 GPE
the Civic Federation 45549 45569 ORG
Illinois 45590 45598 GPE
$111 billion 45623 45635 MONEY
$56 billion 45696 45707 MONEY
one 45770 45773 CARDINAL
four 45777 45781 CARDINAL
Jim Young 45879 45888 PERSON
Bruce Rauner 45907 45919 PERSON
Chicago 45977 45984 GPE
Illinois 45986 45994 GPE
November 4, 2014 45996 46012 DATE
Illinois 46066 46074 GPE
2014 46254 46258 DATE
two 46260 46263 CARDINAL
Fitch 46288 46293 NORP
Moody's 46298 46305 ORG
Moody's 46345 46352 ORG
Illinois 46362 46370 GPE
Botswana 46385 46393 PERSON
the Chicago Tribune 46421 46440 ORG
Botswana 46452 46460 PERSON
decades 46533 46540 DATE
Laurence Msall 46616 46630 PERSON
the Civic Federation 46640 46660 ORG
Unique to Illinois is the idea that you don't have to pay for pensions and you don't have to follow actuarial recommendations 46663 46788 WORK_OF_ART
the Governmental Accounting Standards Board 46841 46884 ORG
GASB 46886 46890 ORG
Illinois 46951 46959 GPE
2013 46988 46992 DATE
$2.8 billion 47008 47020 MONEY
five 47068 47072 CARDINAL
GASB 47092 47096 ORG
$3.6 billion 47141 47153 MONEY
Joshua Rauh 47160 47171 PERSON
Stanford University 47199 47218 ORG
Illinois 47257 47265 GPE
$250 billion 47303 47315 MONEY
annual 47438 47444 DATE
7.75% 47474 47479 PERCENT
30 years 47485 47493 DATE
25% 47534 47537 PERCENT
Pat Quinn 47641 47650 PERSON
December 2013 47714 47727 DATE
annual 47773 47779 DATE
Illinois 47896 47904 GPE
first 47907 47912 ORDINAL
five 47975 47979 CARDINAL
30 years 48002 48010 DATE
M. Spencer Green/ 48107 48124 PERSON
Illinois 48135 48143 GPE
Pat Quinn 48153 48162 PERSON
Quinn 48167 48172 ORG
June 48214 48218 DATE
John Belz 48290 48299 PERSON
Sangamon County 48307 48322 GPE
New York 48443 48451 GPE
Arizona 48456 48463 GPE
Lisa Madigan 48513 48525 PERSON
the Illinois Supreme Court 48590 48616 ORG
James Spiotto 48648 48661 PERSON
Chapman Strategic Advisors 48675 48701 ORG
The Supreme Court 48857 48874 ORG
Illinois 49004 49012 GPE
Mr Spiotto 49118 49128 PERSON
Dan Montgomery 49181 49195 PERSON
the Illinois Federation of Teachers 49214 49249 ORG
Mr Quinn's 49260 49270 PERSON
Rauner 49485 49491 PERSON
Illinois 49645 49653 GPE
more than $7 billion 49681 49701 MONEY
annual 49705 49711 DATE
Washington 49818 49828 GPE
Congress 49863 49871 ORG
Illinois 49966 49974 GPE
2015 50026 50030 DATE
Illinois 50031 50039 GPE
Greek 50072 50077 NORP
Rauner 50144 50150 PERSON
24 months ahead 50173 50188 DATE
U.S. 50382 50386 GPE
The American Community Survey 50454 50483 ORG
the Census Bureau 50511 50528 ORG
U.S. 50678 50682 GPE
ACS 50714 50717 ORG
2008-2012ACS 50784 50796 DATE
at least 1,000 50821 50835 CARDINAL
Business Insider 50848 50864 ORG
25 50953 50955 DATE
Business Insider/Andy Kiersz 50995 51023 ORG
2008-2012 51035 51044 DATE
American Community 51045 51063 ORG
Scarsdale 51273 51282 GPE
New York 51284 51292 GPE
Chevy Chase 51298 51309 GPE
Maryland 51311 51319 GPE
University Heights 51350 51368 GPE
Iowa 51370 51374 GPE
Wellesley 51380 51389 GPE
Massachusetts 51391 51404 GPE
four 51418 51422 CARDINAL
California 51431 51441 GPE
Mississippi 51443 51454 GPE
New York 51456 51464 GPE
Pennsylvania 51470 51482 GPE
a little over 1,000 51744 51763 CARDINAL
Yarrow Point 51793 51805 GPE
Washington 51807 51817 GPE
Fargo 51837 51842 ORG
North Dakota 51844 51856 GPE
106,000 51868 51875 CARDINAL
50 51890 51892 CARDINAL
Business Insider/Andy Kiersz 51900 51928 ORG
2008-2012 51940 51949 DATE
American Community Survey 51950 51975 ORG
one 51982 51985 CARDINAL
first 51992 51997 ORDINAL
annual 52013 52019 DATE
lessI 52124 52129 PERSON
Certified Public Accountant 52299 52326 ORG
Lisa Greene-Lewis 52327 52344 PERSON
year 52380 52384 DATE
IRS 52615 52618 ORG
one 52772 52775 CARDINAL
two 52779 52782 CARDINAL
25% 52983 52986 PERCENT
TurboTax 53379 53387 ORG
Greene-Lewis 53529 53541 PERSON
Greene-Lewis 53901 53913 WORK_OF_ART
the new year 54487 54499 DATE
the new year 54562 54574 DATE
year-round 54895 54905 DATE
Greene-Lewis 54907 54919 PERSON
the year 55030 55038 DATE
the last possible minute 55209 55233 TIME
this holiday season 55317 55336 DATE
Jason Lee/ReutersXiaomi 55384 55407 PERSON
Lei Jun 55412 55419 PERSON
Mi4.Xiaomi 55436 55446 GPE
more than $1 billion 55469 55489 MONEY
China 55552 55557 GPE
more than $45 billion 55588 55609 MONEY
The Wall Street Journal 55610 55633 ORG
Morgan Stanley 55712 55726 ORG
Richard Ji 55735 55745 PERSON
Monday 55780 55786 DATE
$45 billion 55791 55802 MONEY
Xiaomi 55804 55810 PERSON
Silicon Valley 55850 55864 LOC
Uber 55896 55900 PERSON
$41 billion 55976 55987 MONEY
Xiaomi 55989 55995 PERSON
Apples 56091 56097 PERSON
18 million 56169 56179 CARDINAL
most recent quarter 56196 56215 DATE
239% 56253 56257 PERCENT
fourth 56297 56303 ORDINAL
China 56361 56366 GPE
Flickr/Brian 56385 56397 ORG
Virtual Private Network 56407 56430 ORG
WiFi 56581 56585 PRODUCT
VPN 56608 56611 PRODUCT
WiFi 56850 56854 PRODUCT
Medium 56923 56929 GPE
Stack Commerce 56988 57002 ORG
VPN 57107 57110 ORG
70% 57285 57288 PERCENT
3 Years 57328 57335 DATE
19 57338 57340 MONEY
VPN 57369 57372 ORG
VPN 57480 57483 PRODUCT
49 57499 57501 MONEY
2 years 57506 57513 DATE
40 57584 57586 CARDINAL
72% 57602 57605 PERCENT
2 Years 57610 57617 DATE
49 57632 57634 MONEY
Stack Commerce 57637 57651 ORG
one 57664 57667 CARDINAL
VPN 57679 57682 ORG
Lifehacker 57744 57754 ORG
iOS 57882 57885 GPE
6.1 or later 57901 57913 DATE
Androids 57915 57923 ORG
4.0 57929 57932 CARDINAL
10.6 57954 57958 CARDINAL
Windows 57974 57981 PRODUCT
31% 58017 58020 PERCENT
2 years 58038 58045 DATE
110 58048 58051 MONEY
Business Insider's 58099 58117 ORG
REUTERS 58522 58529 ORG
Jim YoungJoshua Birnbaum 58530 58554 PERSON

Goldman Sachs 58626 58639 ORG
The Wall Street Journal 58705 58728 ORG
Joshua Birnbaum 58730 58745 PERSON
Goldman Sachs Group Inc. 58754 58778 ORG
more than $2 billion 58864 58884 MONEY
Tilden Park Capital Management LP 58927 58960 ORG
Monday 59014 59020 DATE
Journal 59026 59033 ORG
about 15% 59196 59205 PERCENT
A few weeks ago 59231 59246 DATE
Brown 59271 59276 PERSON
Journal 59459 59466 PERSON
this year 59487 59496 DATE
less than 1% 59511 59523 PERCENT
about 7% 59539 59547 PERCENT
last year 59548 59557 DATE
15% 59562 59565 PERCENT
2012 59569 59573 DATE
Friday 59578 59584 DATE
multiyear 59637 59646 DATE
7% 59662 59664 PERCENT
spring 2013 59727 59738 DATE
first 59923 59928 ORDINAL
Treasury 60107 60115 ORG
REUTERS 60233 60240 ORG
Maxim ShemetovRussian 60241 60262 PERSON
Vladimir Putin 60273 60287 PERSON
Evgeny Gavrilenkov 60289 60307 PERSON
Russia 60362 60368 GPE
Sberbank CIB 60386 60398 ORG
Russian 60437 60444 NORP
Russia 60469 60475 GPE
the Central Bank of Russia 60549 60575 ORG
17% 61098 61101 PERCENT
over 7.3 trillion rubles 61239 61263 MONEY
1.2-1.3 trillion rubles 61345 61368 QUANTITY
20 61371 61373 MONEY
Last week 61390 61399 DATE
Russian 61400 61407 NORP
Elvira Nabiullinaannounced 61426 61452 PERSON
the Bank of Russia 61459 61477 ORG
Gavrilenkov 61668 61679 PERSON
over 40% 61840 61848 PERCENT
this year 61849 61858 DATE
the Russian Finance Ministry 61893 61921 ORG
yesterday 62335 62344 DATE
2006 62401 62405 DATE
Bloomberg 62419 62428 ORG
Russian 62592 62599 NORP
Anton Siluanov 62617 62631 PERSON
Friday 62644 62650 DATE
Russia 62763 62769 GPE
up to 1 trillion rubles 62871 62894 MONEY
$16.5 billion 62896 62909 MONEY
Reuters 62912 62919 ORG
three 62945 62950 CARDINAL
a day 62969 62974 DATE
weeks 63008 63013 DATE
Thursday 63111 63119 DATE
Morgan Stanley 63120 63134 ORG
Russian 63147 63154 NORP
CBR 63232 63235 ORG
overthe past nine months 63404 63428 DATE
Thursday 63566 63574 DATE
the previous quarter 63696 63716 DATE
Bank of RussiaBank of Russia 63950 63978 ORG
Russian 64002 64009 NORP
Morgan Stanley 64281 64295 ORG
Russian 64310 64317 NORP
Russian 64507 64514 NORP
Russian 64804 64811 NORP
Business Insider 64819 64835 ORG
Jim Laird 64843 64852 PERSON
Treasury 64890 64898 ORG
three-month 64946 64957 DATE
Treasury 64958 64966 ORG
US Treasury 65073 65084 ORG
today 65111 65116 DATE
three-month 65130 65141 DATE
six-month 65143 65152 DATE
two-year 65164 65172 DATE
five-year 65174 65183 DATE
one-year 65185 65193 DATE
Treasury 65207 65215 ORG
1982 65298 65302 DATE
three-month 65364 65375 DATE
Treasury 65376 65384 ORG
Matthew Stuart 65641 65655 PERSON
Jay ButlerJust 65656 65670 PERSON
this holiday season 65831 65850 DATE
Business Insider 65869 65885 ORG
Build America Mutual 66060 66080 ORG
SanMcCarthy 66082 66093 PERSON
American 66164 66172 NORP
Skiddy von Stade 66257 66273 PERSON
McCarthy 66275 66283 PERSON
McCarthy 66454 66462 PERSON
E.F. Hutton 66470 66481 ORG
Paine Webber 66486 66498 PERSON
E.F. Hutton 66567 66578 ORG
Financial Security Assurance 66637 66665 ORG
first 66817 66822 ORDINAL
McCarthy 66959 66967 PERSON
McCarthy 67299 67307 PERSON
McCarthy 67947 67955 PERSON
next year 68279 68288 DATE
Realtor.com 68310 68321 ORG
US 68355 68357 GPE
2015 68376 68380 DATE
market,"writes Jonathan Smoke 68525 68554 WORK_OF_ART
Realtor.com 68576 68587 ORG
2015 68592 68596 DATE
Realtor.com 68728 68739 ORG
10 68775 68777 CARDINAL
2015 68808 68812 DATE
Los Angeles 68962 68973 GPE
Des Moines 69049 69059 GPE
Iowa 69061 69065 GPE
One 69086 69089 CARDINAL
Russell Brand 69121 69134 PERSON
London 69209 69215 GPE
the Royal Bank of Scotland 69232 69258 ORG
last week 69259 69268 DATE
Joseph Kynaston Reeves 69555 69577 PERSON
Kynaston Reeves 69629 69644 PERSON
LinkedIn 69652 69660 ORG
RBS 69682 69685 ORG
Russell 70042 70049 PERSON
RBS 70079 70082 PERSON
Friday 70343 70349 DATE
Russell 70458 70465 PERSON
f----ng 70504 70511 CARDINAL
China 70578 70583 GPE
5422 70694 70698 CARDINAL
around 30cm 70885 70896 QUANTITY
more than 60 billion 71032 71052 CARDINAL
150 71067 71070 CARDINAL
the Fuxin Breeding Farm 71164 71187 ORG
Jiangxi province 71191 71207 GPE
China 71219 71224 GPE
10 hectares 71226 71237 QUANTITY
around 2,000 71314 71326 CARDINAL
four years ago 71358 71372 DATE
Ouyang Kuanxue 71388 71402 PERSON
Ouyang 71407 71413 PERSON
Chinese 71483 71490 NORP
Pingxiang 71579 71588 GPE
2003 71607 71611 DATE
Beijing 71655 71662 GPE
100 71776 71779 CARDINAL
three 71856 71861 CARDINAL
around 5,000 71884 71896 CARDINAL
Ouyang 71907 71913 PERSON
The past year 71995 72008 DATE
Ouyang 72058 72064 PERSON
this lean year 72129 72143 DATE
Ouyang 72171 72177 PERSON
Volkswagen 72187 72197 ORG
Audi 72222 72226 PRODUCT
two 72262 72265 CARDINAL
Ouyang 72336 72342 PERSON
China 72513 72518 GPE
the past 35 years 72544 72561 DATE
the late 1970s 72569 72583 DATE
China 72681 72686 GPE
a year 72735 72741 DATE
half 72743 72747 CARDINAL
Chinese 72790 72797 NORP
China 72893 72898 GPE
Chinese 73034 73041 NORP
thousands of years 73079 73097 DATE
Mandarin 73140 73148 LANGUAGE
12 73266 73268 CARDINAL
Chinese 73282 73289 NORP
that year 73312 73321 DATE
the Han Dynasty 73514 73529 DATE
Historians 73545 73555 NORP
China 73581 73586 GPE
first 73596 73601 ORDINAL
10,000 years ago 73642 73658 DATE
centuries 73664 73673 DATE
Double Ninth Festival 73798 73819 EVENT
the ninth day of the ninth lunar month 73824 73862 DATE
James Watson 74084 74096 PERSON
Harvard University 74119 74137 ORG
second 74208 74214 ORDINAL
Communist 74339 74348 NORP
Mao Zedong 74489 74499 PERSON
four 74540 74544 CARDINAL
Chinese 74595 74602 NORP
Chinese 74644 74651 NORP
Fuchsia Dunlop 74670 74684 PERSON
Ms Dunlop 74797 74806 PERSON
Chinese 74971 74978 NORP
China 75017 75022 GPE
Lei Xiaoping 75134 75146 PERSON
Ouyang 75166 75172 PERSON
these days 75218 75228 DATE
51 75404 75406 DATE
only three 75417 75427 CARDINAL
the revolution of 1949 75454 75476 DATE
China 75493 75498 GPE
only 3% 75503 75510 PERCENT
annual 75520 75526 DATE
Tens of millions 75587 75603 CARDINAL
Mao 75637 75640 PERSON
Great Leap Forward 75643 75661 FAC
the late 1950s 75665 75679 DATE
early 1960s 75684 75695 DATE
decades 75701 75708 DATE
Ms Dunlop 75810 75819 PERSON
the early 1990s 75892 75907 DATE
Chinese 75913 75920 NORP
Mr Lei 75992 75998 PERSON
China 76190 76195 GPE
Chinese 76394 76401 NORP
39kg 76411 76415 QUANTITY
roughly a third 76432 76447 CARDINAL
Americans 76474 76483 NORP
five 76517 76521 CARDINAL
1979 76561 76565 DATE
the 1980s 76630 76639 DATE
Ouyang 76661 76667 PERSON
95% 76684 76687 PERCENT
Chinese 76691 76698 NORP
fewer than five 76733 76748 CARDINAL
Today 76758 76763 DATE
20% 76769 76772 PERCENT
Mindi Schneider 76810 76825 PERSON
the International Institute of Social Studies 76829 76874 ORG
The Hague 76878 76887 GPE
as many as 100,000 76972 76990 CARDINAL
Three 77171 77176 CARDINAL
95% 77208 77211 PERCENT
China 77248 77253 GPE
China 77427 77432 GPE
the Communist Party 77515 77534 ORG
Amazon 77606 77612 ORG
Chinese 77630 77637 NORP
the Communist Party 77725 77744 ORG
2007 77851 77855 DATE
an estimated 45 77870 77885 CARDINAL
China 77900 77905 GPE
annual 77961 77967 DATE
ten-year 78112 78120 DATE
Guangzhou 78274 78283 GPE
China 78325 78330 GPE
first 78395 78400 ORDINAL
Chinese 78897 78904 NORP
Chatham House 78924 78937 ORG
London 78941 78947 GPE
Chinese 78970 78977 NORP
$22 billion 79019 79030 MONEY
2012 79034 79038 DATE
roughly $47 79048 79059 MONEY
the Communist Party 79078 79097 ORG
China 79283 79288 GPE
Chinese 79300 79307 NORP
The Communist Party 79376 79395 ORG
China 79446 79451 GPE
6kg 79515 79518 QUANTITY
China 79599 79604 GPE
Chinese 79672 79679 NORP
Ms Schneider 79762 79774 PERSON
more than half 79788 79802 CARDINAL
Chinese 79851 79858 NORP
2010 79876 79880 DATE
China 79881 79886 GPE
more than 50% 79915 79928 PERCENT
the US Grains Council 80017 80038 ORG
2022 80071 80075 DATE
China 80076 80081 GPE
fifth 80152 80157 ORDINAL
a third 80162 80169 CARDINAL
today 80206 80211 DATE
Brazil 80294 80300 GPE
more than 80302 80311 CARDINAL
Amazon 80359 80365 ORG
Chinese 80411 80418 NORP
China 80641 80646 GPE
Argentina 80655 80664 GPE
thousands 80682 80691 CARDINAL
1990 80807 80811 DATE
Argentine 80816 80825 NORP
soyabeans 80918 80927 NORP
around 8m tonnes 80929 80945 QUANTITY
China 80950 80955 GPE
two 80987 80990 CARDINAL
three 80994 80999 CARDINAL
China 81126 81131 GPE
China 81178 81183 GPE
China 81354 81359 GPE
the International Institute for Sustainable Development 81407 81462 ORG
Canadian 81466 81474 NORP
5m hectares 81517 81528 QUANTITY
Shuanghui 81593 81602 GPE
China 81604 81609 GPE
Smithfield Foods 81642 81658 PERSON
American 81663 81671 NORP
2013 81681 81685 DATE
Missouri 81717 81725 GPE
Texas 81730 81735 GPE
China 81763 81768 GPE
Chinese 81962 81969 NORP
America 82198 82205 GPE
Europe 82210 82216 LOC
2009 82356 82360 DATE
China 82380 82385 GPE
Hong Kong 82389 82398 GPE
one 82421 82424 CARDINAL
5kg 82666 82669 QUANTITY
China 82777 82782 GPE
billions of tonnes 82877 82895 QUANTITY
China 82905 82910 GPE
each year 82931 82940 DATE
one 82945 82948 CARDINAL
the Ministry of Agriculture 83029 83056 ORG
16,000 83062 83068 CARDINAL
the Huangpu river 83118 83135 LOC
Shanghai 83149 83157 GPE
2013 83197 83201 DATE
300 83356 83359 CARDINAL
Earth 83490 83495 LOC
Chinese 83562 83569 NORP
Chinese 83649 83656 NORP
35% 83682 83685 PERCENT
between 1994 and 2005 83686 83707 DATE
one 83757 83760 CARDINAL
Tony Weis 83807 83816 PERSON
the University of Western Ontario 83820 83853 ORG
Canada 83855 83861 GPE
almost a fifth 83879 83893 CARDINAL
China 83995 84000 GPE
inChina 84045 84052 PERSON
Chinese 84400 84407 NORP
Middle Kingdom 84555 84569 GPE
today 84615 84620 DATE
China 84623 84628 GPE
every year 84630 84640 DATE
the year 84644 84652 DATE
China 84691 84696 GPE
Russia 84792 84798 GPE
late-night 84826 84836 TIME
Russia 84859 84865 GPE
Russia 85088 85094 GPE
C]ompanies 85108 85118 WORK_OF_ART
Austria 85132 85139 GPE
Finland 85141 85148 GPE
Poland 85154 85160 GPE
Russia 85215 85221 GPE
7.4% 85225 85229 PERCENT
6.2% 85231 85235 PERCENT
5.6% 85241 85245 PERCENT
FactSet's Michael Amenta 85248 85272 WORK_OF_ART
September 85283 85292 DATE
European 85322 85330 NORP
The Netherlands 85377 85392 GPE
United Kingdom 85394 85408 GPE
Gemany 85410 85416 GPE
France 85422 85428 GPE
5.3% 85513 85517 PERCENT
4.0% 85519 85523 PERCENT
3.4% 85525 85529 PERCENT
3.2% 85535 85539 PERCENT
US 85557 85559 GPE
just 1.4% 85589 85598 PERCENT
Russia 85619 85625 GPE
1998 85656 85660 DATE
Russia 85662 85668 GPE
Russia 85752 85758 GPE
late Tuesday 85784 85796 DATE
1998 85833 85837 DATE
Tuesday 85926 85933 DATE
Kit Juckes 85935 85945 PERSON
Societe Generale 85949 85965 ORG

1998 86005 86009 DATE
three 86087 86092 CARDINAL
Juckes 86143 86149 PERSON
Socit GnraleRussia 86186 86204 PRODUCT
Brazil 86237 86243 GPE
Korea 86245 86250 GPE
Goldman Sachs' 86444 86458 ORG
David Kostin 86459 86471 PERSON
2014 86473 86477 DATE
this year 86670 86679 DATE
Kostin 86682 86688 PERSON
Friday 86698 86704 DATE
Only 12% 86707 86715 PERCENT
500 86777 86780 CARDINAL
1997 86809 86813 DATE
7% 86829 86831 PERCENT
500 86840 86843 CARDINAL
October 86856 86863 DATE
11% 86894 86897 PERCENT
two months 86919 86929 DATE
the past weeks 86958 86972 DATE
Goldman Sachs FREE AppDownload 87085 87115 ORG
CNBCBill Gross 87116 87130 PERSON
Jeff Gundlach 87132 87145 PERSON
CNBC 87195 87199 ORG
Monday 87203 87209 DATE
Janus Capital's 87211 87226 ORG
Bill Gross 87227 87237 PERSON
TIPS 87248 87252 ORG
Treasury 87257 87265 ORG
Treasury 87470 87478 ORG
last week 87639 87648 DATE
Jeff Gundlach 87671 87684 PERSON
Gundlach 87709 87717 PERSON
TIPS 87766 87770 ORG
Earlier this month 88086 88104 DATE
Bill Gross 88106 88116 PERSON
Treasury 88139 88147 ORG
Jeff Gundlach 88175 88188 PERSON
a week earlier 88203 88217 DATE
Gundlach 88309 88317 PERSON
Gross 88358 88363 PERSON
PIMCO 88386 88391 ORG
Janus 88411 88416 LOC
September 88425 88434 DATE
REUTERS 88502 88509 ORG
John Kolesidis Europe 88510 88531 ORG
Ukraine 88636 88643 GPE
Citi 88908 88912 PERSON
Europe 88944 88950 LOC
2015 88997 89001 DATE
Frances National Front to Greeces Syriza 89137 89177 ORG
Podemos 89211 89218 ORG
many years 89406 89416 DATE
European 89495 89503 NORP
five 89559 89563 CARDINAL
the year ahead 89605 89619 DATE
REUTERS/Ina FassbenderBerndt Lucke 89621 89655 ORG
Germany 89667 89674 GPE
German 89730 89736 NORP
Europe 89811 89817 LOC
Europe 89967 89973 LOC
AfD 89975 89978 ORG
Lucke 89983 89988 PRODUCT
Lucke 90059 90064 PRODUCT
Germany 90085 90092 GPE
European 90138 90146 NORP
Germany 90168 90175 GPE
EU 90196 90198 ORG
Standard &amp 90237 90250 ORG
Poor 90252 90256 ORG
Angela Merkel's 90345 90360 PERSON
Christian Democrats 90374 90393 NORP
German 90507 90513 NORP
the Christian Democrats 90534 90557 NORP
anti-European 90589 90602 NORP
German 90644 90650 NORP
Europe 90688 90694 LOC
Berlin 90747 90753 GPE
Europe 90767 90773 LOC
6% 90830 90832 PERCENT
5th 90834 90837 ORDINAL
REUTERS/Yorgos KarahalisSyriza's 90845 90877 ORG
Alexis Tsipras 90878 90892 PERSON
just a month or two 90978 90997 DATE
Greece 91006 91012 GPE
Germany 91036 91043 GPE
Berndt Lucke 91046 91058 PERSON
Greece 91078 91084 GPE
Syriza 91103 91109 PERSON
Europe 91138 91144 LOC
2015 91249 91253 DATE
Syriza 91255 91261 PERSON
Europe 91327 91333 LOC
Greek 91384 91389 NORP
last week 91413 91422 DATE
more than 25 years 91455 91473 DATE
Syriza 91475 91481 PERSON
Europe 91501 91507 LOC
four 91520 91524 CARDINAL
Italian 91525 91532 NORP
the European Parliament 91566 91589 ORG
this year 91590 91599 DATE
a "Tsipras List" 91603 91619 WORK_OF_ART
Greece 91621 91627 PERSON
2010 91670 91674 DATE
European 91718 91726 NORP
2015 91739 91743 DATE
24.3% 91769 91774 PERCENT
1st 91776 91779 ORDINAL
REUTERS/Olivia HarrisNigel Farage 91787 91820 ORG
UKIP 91822 91826 ORG
UK 91862 91864 GPE
2015 91867 91871 DATE
the United Kingdom Independence Party 91914 91951 ORG
UKIP 91953 91957 ORG
Europe 91978 91984 LOC
UKIP 92021 92025 ORG
UK 92051 92053 GPE
May 2015 92085 92093 DATE
UK 92161 92163 GPE
British 92217 92224 NORP
The Labour party 92249 92265 ORG
UKIP 92322 92326 ORG
the Conservative party 92332 92354 ORG
2017 92371 92375 DATE
UK 92394 92396 GPE
EU 92399 92401 ORG
London 92419 92425 GPE
Farage 92548 92554 ORG
2015 92691 92695 DATE
UKIP 92700 92704 ORG
MPs 92718 92721 GPE
EU 92772 92774 ORG
16% 92830 92833 PERCENT
3rd 92835 92838 ORDINAL
REUTERS/Juan Medina Pablo Igelsias' 92846 92881 ORG
Spanish 92913 92920 NORP
a year 92928 92934 DATE
Spain 92969 92974 GPE
Podemos 93004 93011 ORG
Spain 93074 93079 GPE
Iglesias 93116 93124 PERSON
European 93192 93200 NORP
2015 93221 93225 DATE
Iglesias 93227 93235 ORG
Greece 93248 93254 GPE
Alexis Tsipras 93257 93271 PERSON
Greece 93284 93290 GPE
Spain 93292 93297 GPE
European 93327 93335 NORP
fourth 93395 93401 ORDINAL
Vladimir Lenin 93464 93478 PERSON
2015 93526 93530 DATE
Spain 93542 93547 GPE
December 93562 93570 DATE
Syriza 93612 93618 LOC
Podemos 93842 93849 ORG
29.6% 93894 93899 PERCENT
1st 93901 93904 ORDINAL
REUTERS 93913 93920 ORG
Robert PrattaMarine Le Pen 93921 93947 PERSON
France 93951 93957 GPE
Front National 93960 93974 ORG
Marine Le Pen 94079 94092 PERSON
Europe 94131 94137 LOC
Le Pen 94152 94158 PERSON
Front National 94165 94179 ORG
Jean-Marie Le Pen 94197 94214 PERSON
French 94256 94262 NORP
second 94286 94292 ORDINAL
France 94302 94308 GPE
2002 94311 94315 DATE
Germany 94344 94351 GPE
France 94353 94359 GPE
this year 94383 94392 DATE
Le Pen 94398 94404 PERSON
FN 94409 94411 ORG
France 94446 94452 GPE
next year 94490 94499 DATE
FN 94506 94508 ORG
more than four 94563 94577 CARDINAL
European 94604 94612 NORP
France 94637 94643 GPE
Germany 94651 94658 GPE
FN 94684 94686 ORG
two 94740 94743 CARDINAL
French 94917 94923 NORP
27-32% 95003 95009 PERCENT
1st-2nd 95011 95018 CARDINAL

In [6]:
articles_processed = [nlp(article) for article in text_dat]

## Percentages

- using built in model to predict and find percentage

In [ ]:
def return_percentages(article_spacified):
    pcts = [ent.text for ent in article_spacified.ents if ent.label_ == "PERCENT"]
    return pcts

In [ ]:
pct_lst = []
for article in articles_processed:
    pcts = return_percentages(article)
    pct_lst.extend(pcts)

In [ ]:
# just distinct occurences
pct_uniq = list(set(pct_lst))

In [ ]:
pct_df = pd.DataFrame({'percentages' : pct_uniq})

In [ ]:
pct_df.to_csv("results/percentage_matches.csv")

## Labeling Data

Spacy takes json as input.
<br>
1. Train-test split, 75 ish articles, because spacy uses recurrent neural net that does CV, and test error calc
    - do not want to overfit and want to extract CEOs not found in the train data
2. For each label (company and ceo): 
    - iterate over data to find position of matches
    - compile to json structure based on article. 
3. Train spacy model.

In [ ]:
# import random
# random.seed(308)
# train_text = random.sample(text_dat, 75)

In [3]:
ceos = pd.read_csv("data/labels/ceo.csv", header=None, encoding="ISO-8859-1")
companies = pd.read_csv("data/labels/companies.csv", header=None)
# some ceos have two spaces between f name l name
ceos[2] = [' '.join(s.split()) for s in ceos[2]]
ceo_lst = list(set(ceos[2]))

In [4]:
company_lst = list(set(companies[0]))
len(company_lst)

2592

In [9]:
[ceo for ceo in ceo_lst if ceo in company_lst]

['Paul Singer',
 'Pershing Square',
 'Steve Blumenthal',
 'Swanson',
 'Third Point',
 'Garland',
 'American Apparel',
 'Office Depot',
 'Laurent Potdevin',
 'Murray Kessler',
 'Interpublic Group']

In [10]:
# a few weird cases in our labeled data
not_ceos = ['American Apparel','Interpublic Group', 'Office Depot',
            'Pershing Square', 'Third Point', 'Swanson']
not_companies = ['Murray Kessler', 'Steve Blumenthal', 'Garland', 
                 'Paul Singer', 'Laurent Potdevin']
ceo_lst = [ceo for ceo in ceo_lst if ceo not in not_ceos]
company_lst = [company for company in company_lst if company not in not_companies]

In [ ]:
# # function that takes article, list of candidate labels, and the entity name
# def posn_finder(article, labels, entity_name):
#     result=[]
#     article_labels = [x for x in labels if x in article]
#     if len(article_labels) == 0:
#         # if empty return empty list
#         return article_labels
#     else: 
#         for label in article_labels:
#             entities = [(m.start(), m.end(), entity_name) for m in re.finditer(label, article)]
#             result.extend(entities)
            
#     return result

In [ ]:
# iterating over all articles for both ceos and companies. 
# then extending list by index

In [ ]:
# article_ceos = []
# for article in train_text:
#     ceo_posns = posn_finder(article, ceo_lst, "CEO")
#     article_ceos.append(ceo_posns)

In [ ]:
# article_companies = []
# for article in train_text:
#     company_posns = posn_finder(article, company_lst, "Company")
#     article_companies.append(company_posns)

In [ ]:
# labeled_data = []
# for i in range(len(article_ceos)):
#     labeled_data.append(article_ceos[i] + article_companies[i])

In [ ]:
# spacy_data = [(train_text[i], {"entities": labeled_data[i]}) for i in range(len(train_text))]

## Model Construction

Training data is ready, so building spacy model ***from scratch***, like Grandmama.

Running the recurrent neural network on 75 articles. Since neural net uses SGD and also iterates through data, should be able to make good predictions that do not overfit to data. Spacy recommends having a few hundred labeled observations. 75 should be sufficient to meet this criterion.

In [ ]:
# nlp = spacy.blank('en')
# ner = nlp.create_pipe("ner")
# nlp.add_pipe(ner)
# iterations = 125

In [ ]:
# ner.add_label("CEO")
# ner.add_label("Company")

In [ ]:
# optimizer = nlp.begin_training()
# sizes = compounding(1.0, 4.0, 1.001)

In [ ]:
# ## overlapping entity labels ended this effort. 
# for itn in range(iterations):
#     random.shuffle(spacy_data)
#     batches = minibatch(spacy_data, size=sizes)
#     losses = {}
#     for batch in batches:
#         texts, annotations = zip(*batch)
#         nlp.update(texts, annotations, sgd=optimizer, drop=0.35, losses=losses)
        
#         print("Losses", losses)

## Take 9000

1. Find sentences with ORGs or Person with Spacy
2. Extract features from the sentences.
3. Prediction time!
    - train test split
    - model selection
    - ...
4. Pull out sentences predicted to have CEO or Company
    - use spacy to pull out the person or org within the sentence.

In [13]:
def filter_sentences(space_article, entity):
    sentences = [sent.text for sent in space_article.sents]
    entities = [ent.text for ent in space_article.ents if ent.label_ == entity]
    sent_w_ent = []
    for s in sentences:
        if any(ent in s for ent in entities):
            sent_w_ent.append(s)
    
    return sent_w_ent

In [14]:
## getting all sentences with organizations
org_sentences = []
for article in tqdm(articles_processed):
    sent_w_org = filter_sentences(article, "ORG")
    org_sentences.extend(sent_w_org)

100%|| 730/730 [01:01<00:00, 11.95it/s]

In [15]:
## getting all sentences with CEOs
person_sentences = []
for article in tqdm(articles_processed):
    sent_w_person = filter_sentences(article, "PERSON")
    person_sentences.extend(sent_w_person)

100%|| 730/730 [00:48<00:00, 15.06it/s]

In [16]:
print(len(org_sentences))
print(len(person_sentences))

303707
199827

In [17]:
org_df = pd.DataFrame({'sentences': org_sentences})
person_df = pd.DataFrame({'sentences': person_sentences})

In [18]:
def match(sentence, labels=None):
    if any(lbl in sentence for lbl in labels):
        return 1
    else:
        return 0

In [19]:
org_df['y'] = org_df.sentences.apply(lambda x: match(x, labels=company_lst))

In [20]:
person_df['y'] = person_df.sentences.apply(lambda x: match(x, labels=ceo_lst))

In [23]:
org_df.describe()

                   y
count  303707.000000
mean        0.380752
std         0.485573
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000

In [24]:
person_df.describe()

                   y
count  199827.000000
mean        0.127650
std         0.333701
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [38]:
def count_caps(sent):
    return sum([1 for s in sent if s.isupper()])

In [39]:
org_df['num_cap'] = org_df.sentences.apply(lambda x: count_caps(x))

In [40]:
person_df['num_cap'] = person_df.sentences.apply(lambda x: count_caps(x))

In [41]:
def num_words(sent):
    tokes = sent.split(" ")
    return len(tokes)

In [42]:
org_df['num_words'] = org_df.sentences.apply(lambda x: num_words(x))
person_df['num_words'] = person_df.sentences.apply(lambda x: num_words(x))

In [50]:
org_df.head()

,sentences,y,num_cap,num_words,has_quote
0,(Reuters) - The Federal Reserve's vow to keep ...,1,6,45,1
1,I think 'considerable time' captures about as ...,0,12,46,1
2,Atlanta Federal Reserve Bank President Dennis ...,1,8,14,1
3,"In October, the Fed restated the pledge, but a...",0,3,32,1
4,JPMorgan economist Michael Feroli said in a re...,1,6,51,1

In [51]:
person_df.head()

,sentences,y,num_cap,num_words,has_quote
0,I think 'considerable time' captures about as ...,0,12,46,1
1,Atlanta Federal Reserve Bank President Dennis ...,1,8,14,1
2,JPMorgan economist Michael Feroli said in a re...,0,6,51,1
3,Jan Hatzius of Goldman Sachs has said it would...,1,10,35,1
4,(Reporting by Michael Flaherty in Washington ...,1,22,34,1

In [48]:
def contains_quote(text):
    if '\'' in text or '\"' in text:
        return 1
    else:
        return 0

In [49]:
person_df['has_quote'] = person_df.sentences.apply(lambda x: contains_quote(x))
org_df['has_quote'] = org_df.sentences.apply(lambda x: contains_quote(x))

In [63]:
pd.crosstab(person_df.has_quote, person_df.y)

y              0      1
has_quote
0          93486  12212
1          80833  13296

In [64]:
pd.crosstab(org_df.has_quote, org_df.y)

y               0      1
has_quote
0          118696  61143
1           69374  54494

In [80]:
# using an article from 2013 about highly rated ceos
best_ceos = ['Mark Zuckerberg', 'Zuckerberg', 'Bill McDermott', 'McDermott', 'Jim Hagemann Snabe',
                      'Snabe', 'Jim Snabe', 'Dominic Barton', 'Barton', 'Jim Turley', 'Turley', 'John Schlifske',
                     'Schlifske', 'Jeff Bezos', 'Bezos', 'Page', 'Larry Page', 'Musk', 'Elon Musk']
# same thing but for companies
best_companies = ['Google, Inc.', 'Google', 'SAS', 'Facebook', 
                  'Guidewire', 'Workday', 'Intel', 'YouTube',
                 'Amazon', 'Tesla']

In [81]:
org_df['best_company'] = org_df.sentences.apply(lambda x: match(x, best_companies))
person_df['best_ceo'] = person_df.sentences.apply(lambda x: match(x, best_ceos))

In [82]:
pd.crosstab(org_df.best_company, org_df.y)

y                  0       1
best_company
0             188063  109376
1                  7    6261

pd.crosstab(person_df.best_ceo, person_df.y)

In [87]:
org_df['contain_company'] = org_df.sentences.apply(lambda x: match(x, ['company','Company']))
person_df['contain_ceo'] = person_df.sentences.apply(lambda x: 
                                                     match(x, ['CEO', 'Chief executive', 'chief executive']))

These are all the features I will personally extract manually

### Writing to CSV

In [89]:
org_df.to_csv('data/labeled_org_data.csv', index=False)
person_df.to_csv('data/labeled_person_data.csv', index=False)